.page-preview-container{
    width: 100px;
    height: 130px;
    margin: auto;
}

// .rxivtile-wrapper{
//     width: fit-content
// }

.file-icon-wrapper{
    width: 60px;
    overflow: hidden;
    position: relative;
}

.style-icon{
    font-size: 12px;
    background-color: #B7D3DF;
    padding: 9px;
    border-radius: 50%;
    position: absolute;
    right:0;
}

img{
    width: 30px;height: 30px;border-radius: 50%; z-index: 1;
}

.unread-icon {
    width: 10px;
    height: 10px;
    background-color: #B46767;
    display: inline-block;
    border-radius: 50%;
}
.status{
    position: absolute;
    right: 0px;
    top: 0px;
}

.rxivtile-wrapper{
    position:relative;
}

