<div class="card h-100">
    <div class="card-body">
        <h6 class="text-primary fw-bold">
            {{categary}}
        </h6>
        <div class="d-flex justify-content-between  mb-3">
            <h5 class="title-elipsis">
                {{title}}
            </h5>
            <app-rxiv-avatar [title]="image"></app-rxiv-avatar>
            <!-- <img class="profile-image rounded-circle" [src]="image" /> -->
        </div>
        <h6 class="fw-bold mb-1">
            {{heading}}
        </h6>
        <p class="content-ellipsis">
            {{content}}
        </p>
    </div>
</div>