.style-icon{
    color:#FFCB12;
    font-size: 40px;
}
.icon-style{
    font-size: 40px;
}
// addtomyRxiv-style{
//     border: 0;
//     background: transparent;
//     width: 100%;
//     text-align: left;
// }
.addtomyRxiv-popover{
    width: 200px;
}