<div id="app-container" [className]="sidebar.containerClassnames">
  <app-topnav></app-topnav>
  <app-sidebar></app-sidebar>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <app-heading></app-heading>
          <app-breadcrumb></app-breadcrumb>
          <div class="separator mb-5"></div>
        </div>
      </div>
      <div style="height: calc(100vh - 240px);overflow: auto;">
        <router-outlet></router-outlet>
      </div>
      
    </div>
  </main>
  <!-- <app-footer></app-footer> -->
</div>
