<h2 class="font-weight-bold">Purchase full access to "{{documentDetails.title}}"</h2>
<p class="note">Note : items marked with * are required</p>
<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <div class="pl-4">
                    <div class="row mb-4">
                        <div class="col-4">
                            <div class="page-preview-container">
                                <app-page-preview></app-page-preview>
                            </div>

                        </div>
                        <div class="col-8">
                            <div>
                                <h4>{{documentDetails.title}}</h4>
                                <div>{{documentDetails.summary}}</div>
                            </div>

                        </div>
                    </div>
                    <div class="text-left">
                        <div class="row  mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.type" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.type}}
                            </div>
                        </div>
                        <div class="row  mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.page-count" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.pages}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.publisher" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.publisher}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.date-published" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.publishedDate | date:'dd MMM yyyy'}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.industry" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.industry}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1 ">
                                {{"pages.document.brands" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.brand}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.product-line" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.productLine}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.study-type" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.studyType}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.research-type" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.research}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.research-method" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.researchMethod}}
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"forms.tags" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.tag}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 font-weight-bold color-theme-1">
                                {{"pages.document.keywords" | translate | uppercase}}
                            </div>
                            <div class="col-7">
                                {{documentDetails.keyword}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-7">
        <div class="d-flex flex-column mx-5 payment-container">
            <div class="custom-control custom-checkbox mb-4">
                <input type="checkbox" class="custom-control-input" id="customCheckThis">
                <label class="custom-control-label" for="customCheckThis"><span>I accept and agree to ACORN’s</span>
                    <span class="color-theme-1"> Terms and Conditions *</span></label>

            </div>

            <div class="mb-2 color-theme-1 font-weight-bold">{{"pages.payment-method" | translate | uppercase}}</div>
            <div>
                <div class="form-check form-check-inline mb-4">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label color-theme-1" for="inlineRadio1">Credit/Debit Card</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Google Pay</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                    <label class="form-check-label" for="inlineRadio3">PayNow</label>
                </div>
            </div>

            <div class="color-theme-1 font-weight-bold">SELECT PAYMENT ACCOUNT</div>
            <div>
                <div class="form-check d-flex align-items-center" *ngFor="let payment of paymentInfo">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <img class="img-container" src="/assets/logos/visa.png">
                    </label>
                    <div>DBS/POSB</div>
                    <div>**** {{payment.credit.slice(-4)}}</div>
                </div>
                <div class="link-container">
                   <a (click)="openModal(template)">+ Add new account</a> 
                </div>
                <div class="d-flex mt-4" style="flex-direction: column;">

                    <div class="d-flex" style="width: 100%;align-items: baseline;">
                        <p class="total-wrapper color-theme-1 font-weight-bold">
                            SUBTOTAL:
                        </p>
                        <h3>
                            ${{documentDetails.price}}
                        </h3>
                    </div>
                    <div class="d-flex" style="width: 100%;align-items: baseline;">
                        <p class="total-wrapper color-theme-1" style="text-align: left;">
                            <i class="page-navigation-icon glyph-icon iconsminds-arrow-out-left"></i>Cancel and
                            return to previous page
                        </p>
                        <button class="btn btn-secondary" (click)="checkout()">CHECK OUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left font-weight-bold">Add a new credit card</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-credit-card [modalRef]="modalRef" (addCredit)="addCredit($event)"></app-credit-card>
    </div>
  </ng-template>
  