<div>

  <div>
    <app-gmail-signin></app-gmail-signin>
  </div>
  <p class="mt-3 d-flex flex-column align-items-center">
    OR
  </p>

  <!-- <div class="position-relative image-side ">
    <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
    <p class="white mb-0">
      Please use the form to register.
      <br>If you are a member, please
      <a routerLink="/user/login" class="white white-underline-link">login</a>.
    </p>
  </div> -->
  <!-- <div class="form-side"> -->
  <!-- <a class="c-pointer">
      <span class="logo-single"></span>
    </a> -->
  <!-- <h6 class="mb-4">Register</h6> -->

  <form #registerForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <label class="form-group w-100">
      <input class="form-control" required ngModel #FirstName="ngModel" placeholder="FIRST NAME" name="FirstName" />
      <!-- <span>{{ 'user.fullname' | translate }}</span> -->
      <div *ngIf="!FirstName.valid && registerForm.submitted" class="invalid-tooltip">First Name is required!</div>
    </label>

    <label class="form-group w-100">
      <input class="form-control" required ngModel #LastName="ngModel" placeholder="LAST NAME" name="LastName" />
      <!-- <span>{{ 'user.fullname' | translate }}</span> -->
      <div *ngIf="!LastName.valid && registerForm.submitted" class="invalid-tooltip">Last Name is required!</div>
    </label>

    <label class="form-group w-100">
      <input class="form-control" required email ngModel #email="ngModel" placeholder="EMAIL" name="email" />
      <!-- <span>{{ 'user.email' | translate }}</span> -->
      <div *ngIf="!email.valid && registerForm.submitted" class="invalid-tooltip">Email is required!</div>
      <div *ngIf="email?.errors?.email && registerForm.submitted" class="invalid-tooltip">Email must be a valid address!
      </div>
    </label>

    <label class="form-group w-100">
      <input class="form-control" type="password" required ngModel #password="ngModel"
        placeholder="PASSWORD" name="password" />
      <!-- <span>{{ 'user.password' | translate }}</span> -->
      <div *ngIf="!password.valid && registerForm.submitted" class="invalid-tooltip">Password is required!</div>
    </label>

    <label class="form-group w-100">
      <input class="form-control" type="password" required ngModel #confirmpassword="ngModel"
        placeholder=" CONFIRM PASSWORD" name="confirmpassword" />
      <!-- <span>{{ 'user.password' | translate }}</span> -->
      <div *ngIf="!confirmpassword.valid && registerForm.submitted" class="invalid-tooltip">Confirm Password is required!</div>
      <div *ngIf="confirmpassword.valid && registerForm.submitted && password.value !== confirmpassword.value " class="invalid-tooltip">Password is Not Matching!</div>


      
    </label>

    <div class>
      <div class="w-100">
        <app-state-button [btnClass]="'btn btn-primary btn-lg btn-shadow w-100'" [currentState]="buttonState"
          [isDisabled]="buttonDisabled" click="onLoginClick()">
          {{ 'user.signup-button' | translate | uppercase }}
        </app-state-button>
      </div>
      <div class="mt-3 d-flex justify-content-end h6">
        <span>Have an accout?</span><a routerLink="/user/login" class="ml-1 color-theme-1 font-weight-bold">{{'user.login-button' | translate }}</a>
      </div>
      <!-- <a routerLink="/user/forgot-password">{{ 'user.forgot-password' | translate }}?</a> -->


    </div>
  </form>

  <!-- </div> -->
</div>
<simple-notifications></simple-notifications>