<!-- <div class="row">
    <div class="col-12">
        <app-heading></app-heading>
        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 mb-4">
        <p>{{'menu.add' | translate}}</p>
    </div>
</div> -->


<div class="align-items-center d-flex flex-column h-100 justify-content-center w-100">
    <div role="status" class="spinner-border"><span class="visually-hidden">Authenticating...</span></div>
    <h3>Authenticating</h3>
</div>