.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.title-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.unread-icon {
    width: 10px;
    height: 10px;
    background-color: #B46767;
    display: inline-block;
    border-radius: 50%;
}

.categary {
    color: #478EAA;
    font-size: 14px;
    font-weight: bold;
}

.title-area {
    font-size: 16px;
}

.recent-files .card {
    height: 170px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    box-shadow: none;
}

// .recent-files {
//     .glide__arrows{
//         position: absolute;
//         top: 0;
//         height: 170px;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         width: 100%;
//     }

//     .glide__track {
//         position: relative;
//         z-index: 1;
//     }

//     .glide__bullets{
//         display: none;
//     }
// }
.dropdown-container{
    width:300px;
}
.scrollbar-container{
    height: 250px; ;
}
