<ng-container *ngIf="document">
    <div class="modal-header">
        <h4 class="text-light fw-bold d-flex" id="modal-basic-title"><button
                class="border-0 bg-transparent pe-5 fs-2 text-light" (click)="close()"><i
                    class="bi bi-arrow-left"></i></button>{{document?.name}}</h4>
        <button type="button" class="close border-0 bg-transparent text-light fs-2" aria-label="Close"
            (click)="showInfo = !showInfo">
            <span><i class="bi bi-info-circle"></i></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="purchase-button text-center mb-3">
                    <button type="button" class="btn btn-primary text-light w-50 rounded-pill"
                        (click)="goToPayment(document.id)">
                        Purchase full access for {{document?.amount?.amount | currency:'SGD':'symbol'}}
                    </button>
                </div>
                <div class="card purchase-doc-container">
                    <div class="card-body">
                        <div class="text-center">
                            <app-page-preview [selected]="document.url"></app-page-preview>
                            <!-- <img src="/assets/graph.png" style="max-width:100%;max-height: 100%;" /> -->

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" *ngIf="showInfo">
                    <div class="card-body">
                        <div class="mb-4 d-flex flex-column">

                            <h5 class="fw-bold">{{document.title}}</h5>
                            <p>{{document.summary}}</p>

                        </div>
                        <!-- <div class="text-left">
                            <div class="row  mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    PROJECT NAME
                                </div>
                                <div class="col-7">
                                    {{document.projectName}}
                                </div>
                            </div>
                            <div class="row  mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    TYPE
                                </div>
                                <div class="col-7">
                                    {{document.type}}
                                </div>
                            </div>
                            <div class="row  mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    SUMMARY
                                </div>
                                <div class="col-7">
                                    {{document.description}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    CLIENT
                                </div>
                                <div class="col-7">
                                    {{document.client}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    DATE CREATED
                                </div>
                                <div class="col-7">
                                    {{document.created | date:'dd MMM yyyy'}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary ">
                                    CREATEDBY
                                </div>
                                <div class="col-7">
                                    {{document.createdBy}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary ">
                                    PROJECT COMPLETION YEAR
                                </div>
                                <div class="col-7">
                                    {{document.completionYear}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary ">
                                    LANGUAGE
                                </div>
                                <div class="col-7">
                                    {{document.language}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    INDUSTRY
                                </div>
                                <div class="col-7">
                                    {{document.industry}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    STUDY METHOD
                                </div>
                                <div class="col-7">
                                    {{document.studyMethod}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    FOLDERS
                                </div>
                                <div class="col-7">
                                    {{document.research.type}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    TAGS
                                </div>
                                <div class="col-7">
                                    {{document.tags}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    COUNTRIES
                                </div>
                                <div class="col-7">
                                    {{document.keywords}}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-5 fw-bold text-primary">
                                    DOCUMENT TYPES
                                </div>
                                <div class="col-7">
                                    {{document.research.method}}
                                </div>
                            </div>
                        </div> -->

                        <div class="row mb-3" *ngFor="let data of datas">
                            <div class="col-5 text-primary fw-bold">
                                {{data.title | uppercase}}
                                <!-- {{"pages.document.type" | translate | uppercase}} -->
                            </div>
                            <ng-container *ngIf="data.type === 'string'">
                                <div class="col-7">
                                    {{document[data.key]}}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="data.type === 'multiobj'">
                                <div class="col-7">
                                    <span class="btn btn-sm btn-outline-primary rounded-pill me-1 mb-1"
                                        *ngFor="let item of document[data.key]">{{item.folderName}}</span>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="data.type === 'multi'">
                                <div class="col-7">
                                    <span class="btn btn-sm btn-outline-primary rounded-pill me-1 mb-1"
                                        *ngFor="let item of document[data.key]">{{item}}</span>
                                </div>
                            </ng-container>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>