<div>
    <div>
        <div class="text-center">
            <h4 class=" font-weight-bold color-theme-1 mb-3">{{details.title}}</h4>
            <img alt="Profile" src="{{details.img}}" class="img-thumbnail border-0 rounded-circle mb-2 list-thumbnail">
            <div class="d-flex justify-content-center align-items-center">
                <p class="list-item-heading mb-1">{{details.name}}!</p>
                <i class="glyph-icon simple-icon-pencil"></i>
            </div>
            <p class="mb-4 text-muted text-small">{{details.content}}</p>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-sm btn btn-secondary mb-1 " (click)="gotoInterests()">LET'S GO! </button>
        </div>
    </div>
</div>




