<div class="row">
    <div class="col-12">

        <div class="d-flex align-items-center">
            <i class="glyph-icon simple-icon-user-follow icon-style"></i>
            <h2 class="font-weight-semibold">{{"pages.share-file" | translate}}</h2>
        </div>
        <div class="">
            <input placeholder="Add Collaborators to view or comment" class="ng-pristine ng-valid ng-touched search">

        </div>




        <table class="table table-borderless table table-sm mt-3">
            <tbody>
                <tr *ngFor="let user of files">
                    <td>
                        <img src="{{user.img}}" class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                    </td>
                    <td>
                        <h6><a href="#"class="font-weight-bold">{{user.name}}</a>
                        </h6>
                        <!-- <p href="#"
                            style="font-size: 12px; text-decoration: none; line-height: 1; color:#909090; margin-top:0px; margin-bottom:0;">
                            3 pcs</p> -->
                        <p>{{user.email}}</p>
                    </td>
                    <td class="text-right color-theme-1 font-weight-bold">
                        <p>
                            {{user.role}}</p>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>


</div>