<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4 mb-3" *ngFor="let item of recommendations">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h6 class="color-theme-1 font-weight-semibold">{{item.categary}}</h6>
                                    <div class="d-flex">
                                        <h4 class="font-weight-bold">
                                            {{item.title}}
                                        </h4>
                                        <img class="img-thumbnail xsmall border-0 rounded-circle mb-2 list-thumbnail "
                                            src="{{item.image}}" />
                                    </div>
                                    <div>{{item.pages}}</div>
                                    <div class="page-preview-container mt-2" (click)="openModal(template)">
                                        <app-page-preview></app-page-preview>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-body">
                <app-add-to-files></app-add-to-files>
            </div>
        </div>

    </div>
</div>

<ng-template #template>
    <div class="modal-body">
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
        <img src="/assets/img/profiles/images.png" />
    </div>
</ng-template>