<div class="row">
    <div class="col-9">
        <div class="d-flex align-items-center mb-3">
            <h5 class="fw-bold text-primary">SHOWING RESULTS FOR</h5>
            <q class="text-primary fs-5">
                {{searchkey}}
            </q>
            
        </div>
        <div class="mb-3">

            <h4><span class="badge rounded-pill bg-light text-dark me-3 mb-3 shadow px-3 py-2">{{searchkey}}</span>
                <span class="badge rounded-pill bg-light text-dark me-3 mb-3 shadow px-3 py-2">{{searchkey}}</span>
                <span class="badge rounded-pill bg-light text-dark me-3 mb-3 shadow px-3 py-2">{{searchkey}}</span>
            </h4>


            <!-- <span class="badge rounded-pill bg-light text-dark">Light</span>
            <span class="badge rounded-pill bg-light text-dark">Light</span>
            <span class="badge rounded-pill bg-light text-dark">Light</span> -->
            <!-- <span class="badge badge-pill badge-outline-dark mb-1 mr-1">{{searchkey}}</span>
                <span class="badge badge-pill badge-outline-dark mb-1 mr-1">{{searchkey}}</span>
                <span class="badge badge-pill badge-outline-dark mb-1 mr-1">{{searchkey}}</span> -->
        </div>
        <div class="d-flex justify-content-between mb-3">
            <h5 class="fw-bold text-primary">RECOMMENDED FOR YOU</h5>

            <div ngbDropdown class="d-inline-block">
                <button class=" border-0 bg-transparent" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="bi bi-sliders"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="p-2">

                    <div class="font-weight-semibold text-primary mb-3">SORT BY</div>
                    <div class="form-check" *ngFor="let item of radiobuttonlists;let i=index;">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios-{{i}}"
                            value="{{item}}" [(ngModel)]="gridRadios" (ngModelChange)="getRadiobutton()">
                        <label class="form-check-label" for="gridRadios-{{i}}">
                            {{item}}
                        </label>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <app-slider> 
            <div appSliderItem class="col-4 mb-3 pe-3" *ngFor="let document of searchResults" (click)="openModal(document)">
                <!-- <app-searchresults></app-searchresults> -->
                <app-document-card [categary]=document.category [title]=document.title [image]=document.publisherImage
                    [heading]=document.subTitle [content]=document.summary></app-document-card>
            </div>
            </app-slider>
        </div>
        <div class="row">
            <div class="col-12">
                <app-search-results [searchResults] = "searchResults"></app-search-results>
            </div>
        </div>


    </div>
    <div class="col-3">
        <app-filter [searchResults] = "searchResults" [selectedCountries] = "selectedCountries" [selectedFileTypes] = "selectedFileTypes" [selectedBrands] = "selectedBrands" [selectedStudyTypes] = "selectedStudyTypes"></app-filter>
    </div>
</div>