<h6 class="font-weight-semibold color-theme-1">
    {{ "pages.pinned" | translate }}
</h6>
<div class="myrxivpinned-wrapper">

    <app-glide [settings]="{
        gap: 0,
        type: 'carousel',
        peek: { before: 25, after: 25 },
        perView: 4,
        breakpoints: { '600': { perView: 1 }, '1000': { perView: 2 },'2000': { perView: 3 } }
      }">
        <div *ngFor="let pin of pinnes" class="glide__slide">
            <div class="card flex-row">
                <div class="card-body">
                    <!-- <div class="status" *ngIf="!pin.read">
                        <span class="unread-icon"> </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="font-weight-bold">{{ pin.title }}</h4>
                        <div class="d-flex justify-content-between align-items-center file-icon-wrapper">
                            <img src="{{pin.image}}" />
                            <i class="glyph-icon simple-icon-user style-icon"></i>
                        </div>
                    </div>
                    <div>
                        {{pin.items}} items
                    </div>
                    <div class="page-preview-container">
                        <app-page-preview></app-page-preview>
                        
                    </div> -->


                    <app-rxivtile [title]=pin.title [read]=pin.read [image] = "'/assets/img/profiles/l-2.jpg'" [pages] = pin.items [showFileTypeIcon] = true></app-rxivtile>






                    <div class="text-center mt-2">
                        <button class="btn btn-sm"><i class="page-navigation-icon glyph-icon iconsminds-arrow-out-left"></i></button>
                        <span class="page-number">Page 3 of 10</span>
                        <button class="btn btn-sm"><i class="page-navigation-icon glyph-icon iconsminds-arrow-out-right"></i></button>
                                  
                    </div>
                </div>
                <!-- <div>
                    {{ document.content }}
                </div> -->
            </div>
        </div>

    </app-glide>
</div>