<div class="preview-container">


    <h5 style="color: white;">Upload Complete!</h5>

    <!-- <div>
        <progressbar [value]="78"></progressbar>
    </div> -->

    <div class="mt-5">
        <div class="page-preview-container">
            <!-- <div class="page-content">
                <div class="page-content-2">
                    <div class="page-content-3">
                        <img width="100%" height="100%"
                            src="https://s3-alpha-sig.figma.com/img/34ab/791d/0128d8f9086a19d78f95f488f4cdd9f3?Expires=1628467200&Signature=YS6Xx0m0k8ufjSicB5oNWQx7JATM9AsyZ4pZpfZGN18st0Q5Zpl77WSmxYEWgAHc1cRv8fOHkn1wlerpUZhvGAcwsj1hNUpX245OSh3wcF8tUq7Kohf557J2KHS5CFqyI5AFXiWY2maihTIEdL14V-1v1~6A0SIeQajBtJNUTy-le2xHqR6GBJipgJEbgrmvc-yQUKZM7adERZlY7qizgCQNKxuvr8mN47BvZK~MnW2vFIKy2qwOaUc0E8yyuvYYDqs~zfnJ-yh9MJ66SyO90pApVp-Y5rE~SVpwK5ihUyajgnhBcfr6t8jlIX~aj80QAlpR9uS-n6zTxWqPobfkhA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
                    </div>
                </div>
            </div> -->
            <app-page-preview></app-page-preview>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-sm"><i class="page-navigation-icon glyph-icon iconsminds-arrow-out-left"></i></button>
        <span class="page-number">Page 3 of 10</span>
        <button class="btn btn-sm"><i class="page-navigation-icon glyph-icon iconsminds-arrow-out-right"></i></button>


    </div>



</div>