<div class="text-center">
    <h6 class="font-weight-bold">Tell us what you're interested in</h6>
    <div class="d-flex justify-content-between align-items-center card-style">
        <div class="card mt-3" *ngFor="let area of interestedAreas let i =index;" (click)="updateFlag(i)"
            [ngClass]="area.status == true ? 'badge-theme-1' : ''">

            <div class="card-body">
                <img src="{{area.image}}" class="img-thumbnail border-0 rounded-circle mb-2 list-thumbnail img-style" />
                <div>{{area.name}}</div>
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-between align-items-center card-style">
        <div class="card mt-3" *ngFor="let role of interestedRoles let i = index" (click)="updateRole(i)"
            [ngClass]="role.status == true ? 'badge-theme-1' : ''">
            <div class="card-body">
                <i class="glyph-icon iconsminds-bank glyph-style"></i>
                <div>{{role.role}}</div>
            </div>
        </div>
    </div>
    <div class="choose-one-button mt-4">
        <button type="button" class="btn btn-sm btn btn-secondary mb-1 text-center" (click)="chooseCountries()">CHOOSE</button>
        <a class="proceed-link" (click) = "proceednow()">or Proceed now</a>
    </div>
    
</div>