<form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmit()">

    <label class="form-group w-100 mb-3">
        <input class="form-control" required email ngModel #email="ngModel" placeholder="EMAIL" name="email" />
        <!-- <span>{{ 'user.email' | translate }}</span> -->
        <div *ngIf="!email.valid && passwordForm.submitted" class="invalid-tooltip">Email is required!</div>
        <div *ngIf="email?.errors?.email && passwordForm.submitted" class="invalid-tooltip">Email must be a valid address!
        </div>
      </label>
  
      <label class="form-group w-100 mb-3">
        <input class="form-control" type="password" required ngModel #password="ngModel"
          placeholder="PASSWORD" name="password" />
        <!-- <span>{{ 'user.password' | translate }}</span> -->
        <div *ngIf="!password.valid && passwordForm.submitted" class="invalid-tooltip">Password is required!</div>
      </label>
  
      <label class="form-group w-100 mb-3">
        <input class="form-control" type="password" required ngModel #confirmpassword="ngModel"
          placeholder=" CONFIRM PASSWORD" name="confirmpassword" />
        <!-- <span>{{ 'user.password' | translate }}</span> -->
        <div *ngIf="!confirmpassword.valid && passwordForm.submitted" class="invalid-tooltip">Confirm Password is required!</div>
        <div *ngIf="confirmpassword.valid && passwordForm.submitted && password.value !== confirmpassword.value " class="invalid-tooltip">Password is Not Matching!</div>
    
      </label>
      <div class="w-100 mb-3">
        <button type="button" class="btn btn-primary btn-lg btn-shadow w-100 rounded-pill text-light fw-bold">LOG IN</button>
    </div>
    <div class="text-center"><a class="text-decoration-none fw-bold" routerLink = "/user/login">BACK</a></div>

</form>
