<form #loginForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    <label class="form-group w-100 mb-3">
        <input type="text" class="form-control style_email" placeholder="Email" required email ngModel #email="ngModel"
            name="email" [(ngModel)]="emailModel">


        <div *ngIf="!email.valid && loginForm.submitted" class="invalid-tooltip">Email is required!</div>
    </label>
    <label class="form-group w-100 mb-3">
        <input class="form-control style_email style_pwd" type="password" placeholder="Password" required ngModel
            #password="ngModel" name="password" [(ngModel)]="passwordModel" />

        <div *ngIf="!password.valid && loginForm.submitted" class="invalid-tooltip">Password is required!</div>
    </label>
    <div class="d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex justify-content-between mb-3 w-100">
            <div class="text-start">
               <a routerLink="/user/forgotpassword" class="text-decoration-none"> Forgot Password?</a>

            </div>

            <div class="text-end">
                <span>New to RXIV?

                <a routerLink="/user/register" class="ml-1 font-weight-bold color-theme-1 text-decoration-none">Sign Up</a></span>
            </div>
        </div>

        <div class="w-100">
            <button type="button" class="btn btn-primary btn-lg btn-shadow w-100 rounded-pill text-light fw-bold">LOG IN</button>
        </div>
        <p class="mt-3">
            OR
        </p>



    </div>
</form>
<div>
    <app-gmail-signin></app-gmail-signin>
</div>