<div class="row">

  <div class="col-sm-12 col-lg-9">
    <div class="row">
      <div class="col-12">
        <div *ngIf="files.length !== 0">
          <div>
            <div class="row">
              <div class="col-sm-12 col-lg-3">
                <div class="card h-100">
                  <div class="card-body">
                    <app-pinned></app-pinned>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-9">
                <div class="card">
                  <div class="card-body">
                    <app-recentfiles></app-recentfiles>
                  </div>
                </div>

              </div>
              <!-- <div class="col-12">

              </div> -->
            </div>
          </div>
        </div>
        <ng-container *ngIf="files.length === 0">
          <alert type="info rounded">

            You have no files at the moment.Vist the Recommended tab or view our suggestions below to discover
            files
            tailored to your needs


          </alert>

        </ng-container>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <app-documentlist></app-documentlist>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- <div class="card">
          <div class="card-body"> -->
        <app-suggestions></app-suggestions>
        <!-- </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-3">
    <app-right-panel></app-right-panel>
  </div>
</div>






<ng-template #welcomemodal>
  <div class="modal-body">
    <!-- <span aria-hidden="true">&times;</span>     -->
    <div>
      <app-welcome-modal (newItemEvent)="gotoSecondModal()"></app-welcome-modal>
    </div>
  </div>
</ng-template>

<ng-template #template>
  <div class="modal-body">
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="interestmodalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <div>
      <app-interest-modal (newEvent1)="chooseCountries()" (newEvent2)="proceednow()"></app-interest-modal>
    </div>
  </div>



</ng-template>
<!-- <ng-container *ngIf="user && user.name === 'Client'">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-body">
              You have no files at the moment.Vist the Recommended tab or view our suggestions below to discover files
              tailored to your needs
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <app-suggestions></app-suggestions>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <app-right-panel></app-right-panel>
    </div>
  </div>
</ng-container> -->