<div class="container">
    <div class="card h-100 mb-3 card-container ">
        <div class="card-body">



            <div *ngIf="edit">
                <form (ngSubmit)="onsubmit()" #personForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name :</label>
                        <input type="text" class="form-control" id="name" required
                            [(ngModel)]="profileInformationtemp.name" name="name" #name="ngModel">


                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title">Title :</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="profileInformationtemp.title"
                            name="title">
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio :</label>
                        <input type="text" class="form-control" id="bio" [(ngModel)]="profileInformationtemp.bio"
                            name="bio">
                    </div>
                    <div class="form-group">
                        <label for="organisation">Organisation :</label>
                        <input type="text" class="form-control" id="organisation"
                            [(ngModel)]="profileInformationtemp.organisation" name="organisation">
                    </div>
                    <div class="form-group">
                        <label for="team">Team :</label>
                        <input type="text" class="form-control" id="team" [(ngModel)]="profileInformationtemp.team"
                            name="team">
                    </div>
                    <div class="form-group">
                        <label for="location">Location :</label>
                        <input type="text" class="form-control" id="location"
                            [(ngModel)]="profileInformationtemp.location" name="location">
                    </div>
                    <div class="form-group">
                        <label for="email"> Email:</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="profileInformationtemp.email"
                            name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label><br>
                        <input type="password" class="form-control" id="pwd"
                            [(ngModel)]="profileInformationtemp.password" name="pwd">
                        <div>
                            <label for="notifications">Notifications :</label>
                            <select class="form-control" id="notifications" required
                            [(ngModel)]="profileInformationtemp.notifications"
                                name="notifications">
                                <option *ngFor="let notification of notifications" [value]="notification.id">
                                    {{notification.value}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn btn-secondary mr-3"
                            [disabled]="!personForm.form.valid">Save</button>
                        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                    </div>
                    <!-- <div>
                        <label for="notifications">Notifications :</label>
                        <select class="form-control" id="notifications" required [(ngModel)]="notifications" name="notifications"
                            #notifications="ngModel">
                            <option *ngFor="let notification of notifications" [value]="notifications">{{notification}}</option>
                        </select>
                        <div [hidden]="country.valid || country.pristine" class="alert alert-danger">
                            Country is required
                        </div>
                    </div> -->
                    <!-- <div>
                         <label for="notify">Notify update :</label>
                        <input type="checkbox" id="notify" [(ngModel)]="person.notifyupdate" [ngModelOptions]="{standalone: true}">
                    </div>   -->
                    <!-- <button type="button" class="btn btn-success">Edit</button> -->
                    <!-- <button type="button" class="btn btn-default" (click)="newPerson();personForm.reset()" (mouseover)= "mouseover()" (mouseout) = "mouseout()">{{buttontitle}}</button> -->

                </form>
            </div>








            <div *ngIf="!edit">
                <button type="button" class=" editbutton-container" (click)="onEdit()"><i
                        class="glyph-icon simple-icon-pencil icon-container"></i></button>
                <div class="row">
                    <div class="col-6 text-right">
                        <img class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle mr-3 text-right"
                            src="{{profileInformations.image}}" />
                    </div>
                    <div class="col-6 text-left font-weight-bold">
                        {{profileInformations.name}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"todo.title" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left ">
                        {{profileInformations.title}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"profile.bio" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.bio}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"profile.organisation" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.organisation}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"profile.team" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.team}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"pages.location" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.location}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"forms.email" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.email}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"user.password" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{profileInformations.password}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 text-right font-weight-bold color-theme-1 ">
                        {{"profile.notifications" | translate |uppercase }}
                    </div>
                    <div class="col-6 text-left">
                        {{getNotificationmessage(profileInformations.notifications)}}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>