.container{
    display: flex;
    justify-content: center;
}
.card-container{
    width: 70%;
}
.editbutton-container{
    border: 0;
    background: transparent;
    width: 100%;
    text-align: left;
}
.icon-container{
    font-size: 20px;
}
