<div class="modal-body">
    <div class="row" *ngIf = "document">
        <div class="col-12">
            <div class="row mb-4">
                <div class="col-4 page-preview-container">
                    <app-page-preview></app-page-preview>
                </div>
                <div class="col-8">
                    <h3>{{document.title}}</h3>
                    <div class="row text-left">
                        <div class="col-12">
                            <div class="d-flex align-items-center">
                                <img src="{{document.publisherImage}}" class="logo">

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.type" | translate | uppercase}} -->TYPE
                </div>
                <div class="col-7">
                    {{document.title}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.summary" | translate | uppercase}} -->SUMMARY
                </div>
                <div class="col-7">
                    {{document.summary}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.datecreated" | translate | uppercase}} -->DATE CREATED
                </div>
                <div class="col-7">
                    {{document.datePublished | date:'dd MMM yyyy'}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.filesize" | translate | uppercase}} -->FILE SIZE
                </div>
                <div class="col-7">
                    {{document.fileSize}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.industry" | translate | uppercase}} -->INDUSTRY
                </div>
                <div class="col-7">
                    {{document.industry}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.brands" | translate | uppercase}} -->BRAND(S)
                </div>
                <div class="col-7">
                    {{document.brand}}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5 color-theme-1 fw-bold">
                    <!-- {{"pages.document.brands" | translate | uppercase}} -->PRODUCT LINE(S)
                </div>
                <div class="col-7">
                    {{document.productLine}}
                </div>
            </div>
        </div>
    </div>
</div>