<form [formGroup]="creditcardForm">
    <div>
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">NAME</label>
            <div class="col-sm-8">
                <input type="text" id="name" class="form-control" formControlName="name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="credit" class="col-sm-4 col-form-label">CREDIT CARD NO</label>
            <div class="col-sm-8">
                <input type="text" id="credit" class="form-control" formControlName="credit" />
            </div>
        </div>
        <div class="form-group row">
            <label for="expiryDate" class="col-md-4 col-form-label">EXPIRY DATE</label>
            <div class=" col-md-4">
                <input type="text" id="expiryDate" class="form-control" formControlName="expiryDate" />
                <!-- <input type="text" id="industry" class="form-control" /> -->
                <!-- <input type="text"
            class="form-control"
            formControlName="expiryDate"
            #dp="bsDatepicker"
            bsDatepicker [(bsValue)]="myDateValue"> -->
            </div>
            <label for="cvv" class="col-md-1 col-form-label">CVV</label>
            <div class=" col-md-3">
                <input type="text" id="cvv" class="form-control" formControlName="cvv" />
            </div>
        </div>
        <div class="form-group row">
            <label for="billing" class="col-sm-4 col-form-label">BILLING ADDRESS</label>
            <div class="col-sm-8">
                <input type="text" id="billing" class="form-control" formControlName="billing" />
            </div>
        </div>
        <div class="form-group row">
            <label for="postCode" class="col-sm-4 col-form-label">POSTAL CODE</label>
            <div class="col-sm-8">
                <input type="text" id="postCode" class="form-control" formControlName="postCode" />
            </div>
        </div>
        <p>Your credit card details are kept safe and secure. ACORN will not have access to your credit card info.</p>
        <div class="text-right">
            <button type="button" class="btn btn-primary mb-1 mr-2" (click)="closeModal()">
                CANCEL
            </button>
            <button type="button" class="btn btn-primary mb-1" (click)="addCreditInfo()">
                ADD CARD
            </button>
        </div>
    </div>
</form>