<!-- <div class="h-100 border-start border-primary border-2 w-100 ps-5" *ngIf = "searchResults.length"> -->
<div class="h-100 border-start border-primary border-2 w-100 ps-5">
    <h5 class="fw-bold text-primary mb-4">
        FILTER RESULTS
    </h5>
    <h6 class="fw-bold mb-4">
        FOLDER
    </h6>
    <div>
        <a>
            <span class="btn btn-sm rounded-pill mb-3  me-1  filter-container"
                [ngClass]="selectedFolders[folder.folderId] ? 'btn-primary text-light' : 'btn-outline-primary'"
                *ngFor="let folder of folders let i =index;"
                (click)="updateFolderFilter(folder)">{{folder.folderName}}</span>
        </a>
    </div>

    <h6 class="fw-bold mb-4">
        TAGS
    </h6>
    <div>
        <a>
            <span class="btn btn-sm rounded-pill mb-3  me-1  filter-container"
                [ngClass]="selectedTags[tag] ? 'btn-primary text-light' : 'btn-outline-primary'"
                *ngFor="let tag of tags let i =index;" (click)="updateTagFilter(tag)">{{tag}}</span>
        </a>
    </div>

    <h6 class="fw-bold mb-4">
        INDUSTRIES
    </h6>
    <div>
        <a>
            <span class="btn btn-sm rounded-pill mb-3  me-1  filter-container"
                [ngClass]="selectedIndustries[industry] ? 'btn-primary text-light' : 'btn-outline-primary'"
                *ngFor="let industry of industries let i =index;"
                (click)="updateIndustriesFilter(industry)">{{industry}}</span>
        </a>
    </div>


    <h6 class="fw-bold mb-4">
        COUNTRIES
    </h6>
    <div>
        <a>
            <span class="btn btn-sm rounded-pill mb-3  me-1  filter-container"
                [ngClass]="selectedCountries[country] ? 'btn-primary text-light' : 'btn-outline-primary'"
                *ngFor="let country of countries let i =index;"
                (click)="updateFilter('country',country)">{{country}}</span>
        </a>
    </div>
    <!-- <h6 class="fw-bold mb-4">
        DOCUMENT TYPES
    </h6>
    <div>
        <a>
            <h4><span class="badge shadow rounded-pill badge-pill  mb-3  me-1 filter-container"
                    *ngFor="let documentType of documentTypes let i =index;" >{{file.name}}</span></h4>
        </a>
    </div>

    STUDY METHODS
    </h6>
    <div>
        <a>
            <h4><span class="badge shadow rounded-pill badge-pill  mb-3  me-1  filter-container"
                    *ngFor="let type of selectedStudyTypes let i =index;" (click)="updateTag4(i)"
                    [ngClass]="type.status == true ? 'bg-primary' : 'bg-light text-dark'">{{type.name}}</span></h4>
        </a>
    </div> -->
</div>