
.page-preview-container{
    width: 6.25rem;
    height: 8rem;
    //margin: auto;
}
.img-container{
    height :4.5rem;
    width: 8rem;
}
// .payment-container{
//     width: 100%;
//     // padding:100px;
// }
.link-container{
    cursor: pointer;
}


.total-wrapper{
    flex-basis: 60%;
    // text-align: right;
    // padding-right: 2rem;
}